apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ingress-controller
  labels:
    app: nginx-ingress
spec:
  replicas: {{ .Values.controller.replicaCount }}
  selector:
    matchLabels:
      app: nginx-ingress
  template:
    metadata:
      labels:
        app: nginx-ingress
    spec:
      containers:
        - name: controller
          image: "k8s.gcr.io/ingress-nginx/controller:v1.9.0"
          ports:
            - containerPort: 80
            - containerPort: 443
