name: Terraform CI

on:
  push:
    paths:
      - 'terraform/**'
      - '.github/workflows/terraform-ci.yaml'
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      AWS_REGION: ap-southeast-1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform -chdir=terraform/environments/dev init -input=false

      - name: Terraform Plan
        run: terraform -chdir=terraform/environments/dev plan -input=false
